#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.footer.segment {
    padding: 3em 0;
}

.field-validation-error {
    color: #d0021b;
}

a[disabled] {
    pointer-events: none;
}

#loader {
    display: none;
}
